body {
    margin: 0;
    background-color: black;
    overflow-x: hidden;
}
html {
    font-family: "Roboto", sans-serif;
}
header {
    background-image: url(bgh.avif);
    background-size: cover;
    background-position: center;
    color: white;
    height: 13vh;
    text-align: center;
    width: 100vw;
    border: 0.5vh solid #000;
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: inset 15vw 0vw 1vw #00000042;
    overflow: hidden;
}
.ld {
    background-image: url(bgh.avif);
    background-size: cover;
    color: white;
    height: 87vh;
    text-align: center;
    width: 18vw;
    border: 0.5vh solid #000;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: left;
    flex-direction: column;
    transition-duration: 0.3s;
}
.prod {
    background-image: url(bge.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    height: 86vh;
    text-align: center;
    width: 82vw;
    border: 0.3vh solid #000;
    position: fixed;
    right: 0;
    bottom: 0;
    box-shadow: inset 0.6vh 0.6vh 0.6vh 0.6vh #000;
    overflow-y: scroll;
    overflow-x: hidden;
    transition-duration: 0.3s;
}
.prod::-webkit-scrollbar {
    width: 1vw;
    background-color: #000000;
    border: 0.1vh solid #e63939;
    border-radius: 5vh;
    box-shadow: inset 0px 0px 0px 0.1vh #fbff0db4;
}
.prod::-webkit-scrollbar-thumb {
    background-color: #eec16d;
    border-radius: 5vh;
    border: 0.1vh solid #18525a;
    cursor: pointer;
}
.prod::-webkit-scrollbar-thumb:hover {
    background-color: #fbfd9c;
}
.prod::-webkit-scrollbar-thumb:active {
    background-color: #ac9752;
}
.prod1 {
    border: 0.3vh solid #ffe23f65;
    background: linear-gradient(0deg, rgba(23,23,23,1) 26%, rgba(0,0,0,1) 100%);
    width: 25vw;
    height: 25vw;
    cursor: pointer;
    margin: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 3vh;
    overflow: hidden;
    transition: ease-in;
    transition-duration: 0.3s;
}
.prod1 img {
    height: 60%;
    margin: 2vh;
    transition-duration: 0.3s;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.prodtxt {
    font-size: 1.5vh;
    width: 99%;
    text-wrap: stable;
}
.prod1:hover {
    border: 0.3vh solid #ffe23f;
}
  
  header input[type=text] {
    height: 4.5vh;
    font-size: 3.5vh;
    border: none;
    width: 35vw;
    border: 0.3vh solid #d80000;
    border-top-left-radius: 1vh;
    border-bottom-left-radius: 1vh;
  }

  .search-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  header .search-container button {
    float: right;
    background: #ddd;
    border: none;
    cursor: pointer;
    border: 0.3vh solid #d80000;
    border-top-right-radius: 1vh;
    border-bottom-right-radius: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .search-container img {
    height: 4.5vh;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }
.ld h1 {
    font-size: 5vh;
    margin: 0;
    height: 7vh;
    margin-top: 1vh;
    margin-bottom: 3vh;
    padding: 1vh;
    padding-top: 2vh;
    text-align: left;
    width: 100%;
    color: #ddd;
    border-bottom: 0.3vh solid #ddd;
    background-color: #0000002f;
}
.ld button {
    font-size: 3vh;
    margin: 0;
    height: 7vh;
    text-align: left;
    width: 98%;
    margin-bottom: 3vh;
    color: #fff;
    background-color: #0000008a;
    cursor: pointer;
    border: none;
    transition-duration: 0.3s;
    border-bottom: 0.3vh solid #fff;
}
.pr {
    font-size: 4vh;
    margin: 0;
    text-align: right;
    width: 90%;
    color: #63ff8a;
    text-shadow: 0.5vh 0.5vh 0.5vh #000;
}
.ap {
    font-size: 2vh;
    margin: 1vh;
    color: #1fa541;
}
#mv {
    color: #deff65;
    border-color: #deff65;
}
.moveis {
    display: grid;
    grid-template-columns: auto auto auto;
}
.config {
    position: absolute;
    right: 1.5vw;
    cursor: pointer;
}
.config img {
    height: 8vh;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.new {
    height: 20vh;
    width: 20vw;
    background-image: url(new.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    margin-left: 19vw;
    margin-bottom: 37vh;
    display: flex;
    align-items: center;
    pointer-events: none;
}
.new h1 {
    text-shadow: 0.5vh 0.5vh 0.5vh #000;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    width: 99%;
    font-size: 3vh;
}

@keyframes pulse {
    0% {
        opacity: 0.6;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.6;
    }
}

#mv {
    animation-name: pulsetr;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 0.3s;
}
#apr {
    animation-name: pulsetr;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 0.6s;
}
#ele {
    animation-name: pulsetr;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 0.9s;
}
#dv {
    animation-name: pulsetr;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 1.2s;
}
#nov {
    animation-name: pulsetr;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 1.5s;
}
#fm {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.com {
    background-image: url(bgh.avif);
    background-size: cover;
    color: white;
    height: 87vh;
    text-align: center;
    width: 28vw;
    border: 0.5vh solid #000;
    position: fixed;
    bottom: 0;
    right: -30vw;
    display: none;
    align-items: center;
    flex-direction: column;
    transition-duration: 0.3s;
}

.txtp {
    padding: 3vh;
    font-size: 4vh;
    border-bottom: 0.3vh solid #fff;
    margin: 0;
    margin-bottom: 3vh;
}

.prc {
    font-size: 5vh;
    margin: 0;
    text-align: right;
    width: 90%;
    color: #63ff8a;
    text-shadow: 0.5vh 0.5vh 0.5vh #000;
}

.com button {
    height: 8vh;
    width: 98%;
    background-color: #63ff8a;
    font-size: 5vh;
    color: #000;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border: 0.3vh solid #000;
    transition-duration: 0.3s;
    border-radius: 1vh;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.com button:hover {
    border-color: #d6d857;
    color: #af7800;
}

.par {
    font-size: 2vh;
    margin: 1vh;
    text-align: right;
    width: 90%;
    color: #81d395;
    text-shadow: 0.5vh 0.5vh 0.5vh #000;
}
#prej {
    font-size: 2.5vh;
    color: #7dff9d;
    margin: 0.5vh;
}

.newdes {
    font-size: 2vh;
    margin: 1vh;
    text-align: center;
    width: 100%;
    color: #ffffff;
    background: linear-gradient(48deg, rgba(255,66,66,1) 0%, rgba(180,25,25,1) 50%, rgba(96,0,0,1) 100%);
    text-shadow: 0.5vh 0.5vh 0.5vh #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vh;
    letter-spacing: 0.1vw;
    border: 0.3vh solid #000;
    border-radius: 1vh;
}

.newdes h1 {
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
#vol {
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    width: 8vw;
    border: 0.3vh solid #5e0f0f;
    position: absolute;
    left: -8vw;
    cursor: pointer;
    transition-duration: 0.3s;
    background-color: #00000079;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
#vol img {
    height: 100%;
}
#vol:hover {
    background-color: #000000be;
}
#est {
    font-size: 3vh;
    margin: 1vh;
    text-align: right;
    width: 90%;
    color: #c4bd59;
    text-shadow: 0.5vh 0.5vh 0.5vh #000;
}

#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    align-items: center;
    flex-direction: column;
    width: 35vw;
    height: 36vh;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: absolute;
    bottom: -32vh;
    margin-right: 3vw;
  }
  
  #myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    text-align: left;
  }
  #myUL li {
    width: 100%;
  }
  
  #myUL li a:hover:not(.header) {
    background-color: #eee;
  }
.lg {
    width: 10vw;
    height: 120%;
    background-image: url(logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 3vw;
    cursor: pointer;
    transition-duration: 0.3s;
}
#pr1 {
    width: 2vw;
    height: 100%;
}
#pr1 img {
    width: 2vw;
    height: 100%;
}

@keyframes pulsetr {
    0% {
        background-color: #0000008a;
    }
    50% {
        background-color: #4e331c2a;
    }
    100% {
        background-color: #0000008a;
    }
}